
* {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    color: #170b01;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    margin: 0px;
    min-width: 375px;
}

button, input[type="text"], input[type="email"], .linkbutton, textarea {    
    font-weight: bold;
    font-size: 1em;
    border-radius: 10px;
}

button, .linkbutton {
    background: #f5dfd2;
    height: 60px;
    width: 130px;
    border: 1px solid #a8642d2e;
    box-shadow: 4px 4px 1px 1px #a8642dbb;
}

button:hover, .linkbutton:hover {
    background-color: #f5dfd2a8;
    border-color: #f5dfd2a8;
}

button:active, .linkbutton:active {
    background-color: #f5dfd267;
    border-color: #f5dfd267;
    box-shadow: 1px 1px 1px 1px #a8642dbb;
}

footer {
    color: #fff;
    background-color: #a8642df1;
    padding: 1vh 0 10vh 0;
    width: 100%;
}

footer a {
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 35px 0;
}

footer i {
    color: #fff;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    max-width: 375px;
}

form li {
    margin: 15px 0;
}

form .copy {
    margin: 20px 0 15px;
}

h1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 4.4em;
    color: #986133;
    padding: 20vh 0 10vh;
    margin: auto;
}

h3 {
    font-family: 'Muli', sans-serif;
}

h4 {
    line-height: 1em;
    padding: 0;
    margin: 0;
}

header, main {
    width: 90%;
    max-width: 630px;
    margin: auto;
}

html {
    scroll-behavior: smooth;
}

input, textarea {
    background: #faeade;
    border: 1px solid #a8642dbb;
}

input[type="text"], input[type="email"], textarea {
    padding: 10px 10px;
    margin: 5px 0;
    width: 100%;
    display: block;
    justify-content: center;
    line-height: normal;
}

input[type="text"], input[type="email"], textarea[id="subj"] {
    height: 50px;
}

input:checked ~ .checkybox:after {
    display: block;
}

nav {
    position: fixed;
    z-index: 1;
}

nav ul {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #a8642df1;
    height: 100%;
    width: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
    padding: 25vh 0;
}

nav ul a { 
    display: block;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    padding: 2vh;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
}

section {
    padding: 10vh 0;
}

textarea[id="msg"] {
    height: 16vh;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.about {
    padding-top: 10vh;
}

.absolute {
    position: absolute;
}

.bar-container {
    position: fixed;
    top: 5vw;
    left: 5vw;
    z-index: 2;
    background-color: #ffffffb0;
    padding: 5px 5px;
    border-radius: 10px;
}

.bar-container div {
    width: 40px;
    height: 7px;
    border-radius: 2px;
    transition: 0.4s;
}

.bar1 {
    background-color: #986133;
}

.bar2 {
    background-color: #a8642dbb;
    margin: 6px 0;
}

.bar3 {
    background-color: #f5dfd2;
}

.button-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2vh 0;
    margin: 1vh 0;
}

.button-list li {
    padding: 10px;
}

.checkybox {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: #faeade;
    border: 1px solid #a8642dbb;
    border-radius: 5px;
}

.checkybox:after {
    content: "";
    position: absolute;
    display: none;
}

.cluster {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2vh 0;
    margin: 1vh 0;
}

.cluster li {
    font-family: 'Archivo Black', sans-serif;
    padding: 10px;
}

.contact {
    position: relative;
}

.contact button {
  margin: 20px 0;
}

.contact > input {
    width: 100%;
}

.copy {
    display: block;
    position: relative;
    margin: 2vh 0 3vh;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.copy .checkybox:after {
    left: 8px;
    bottom: 5px;
    width: 5px;
    height: 12px;
    border: solid #a8642dbb;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.copy input:checked ~ .checkybox:after {
    display: block;
}

.copy input {
    opacity: 0;
    height: 0;
    width: 0;
}

.cross {
    background-color: initial;
}

.cross .bar1 {
    transform: translate(0, 13px) rotate(-45deg);
    background-color: #f5dfd2;
}

.cross .bar2 {
    opacity: 0;
}

.cross .bar3 {
    transform: translate(0, -13px) rotate(45deg) 
}

.desktop {
    display: none;
}

.failure .linkbutton {
  margin: 20px 0;
}

.linkbutton {
    display: inline-block;
    text-align: center;
    padding: 18px 0;
}

.message {
  width: 90%;
}

.noscript {
    background-color: #f5dfd2;
    width: 100%;
    min-width: 337px;
    padding: 70px 0;
}

.noscript p {
    width: 90%;
    min-width: 337px;
    margin: auto;
}

.overlay-on {
    height: 100vh;
    width: 100vw;
    opacity: 1;
}

.primary {
    display:none
}

.project-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-list > li {
    background-color: #faeade6b;
    padding: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.project-list img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
    margin: 3vh auto 3vh;
}

.relative {
    position: relative;
}

.submit {
  display: none;
  transition: 0.5s;
}

.submit .message .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  margin: 5px
}

.submit.on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a8642d2e;
  color: black;
}

.submit.on .message {
  position: relative;
  padding: 50px;
  background-color: #fff;
  border: 1px solid #a8642d2e;
  border-radius: 10px;
}

.submit .submitting {
  display: none;
}

.submit .submitting.on {
  display: initial;
}

/* .success-on p {
    font-weight: bold;
    font-size: 1em;
} */

.submit-on p {
  font-weight: bold;
  font-size: 1em;
}

.success, .failure {
  display: none;
}

.success.on, .failure.on {
  display: initial;
}

@media screen and (min-width: 500px) {
    form {
        background-color: #a8642dbb;
        padding: 40px;
        border-radius: 20px;
    }

    h1 {
        font-size: 5.9em;
    }

    nav {
        position: initial;
        max-width: 800px;
        margin: auto;
    }

    nav ul {
        position: initial;
        flex-direction: row;
        justify-content: end;
        background-color: initial;
        height: auto;
        width: auto;
        overflow-x: visible;
        padding: 0;
        margin: auto;

    }
    
    nav ul a { 
        height: 60px;
        width: 130px;
        text-align: center;
        font-size: 1.5em;
        color: #a8642df1;
        padding: 18px 0;
    }

    .bar-container {
        display: none;
    }
    
    .overlay li {
        margin: 0 10px;
    }
}

@media screen and (min-width: 700px) {
    h1 {
        font-size: 8.2em;
    }

    .desktop {
      display: initial;
    }

    .mobile {
      display: none;
    }
}