
* {
box-sizing: border-box;
color: white;
font-family: 'Muli', sans-serif;
}

body {
    margin: 0px;
    background: #fff;
}

button {
    background: #fff;
    color: #2A1D5B;
    padding: .75em;
    font-size: 16px;
    font-weight: bold;
    border: #2A1D5B solid 2px;
    border-radius: 10%;
}

header {
    padding: 5vh 0 5vh;
}

h1, h2 {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 3.8em;
    line-height: 1em;
    padding: .5em 0;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    padding: 0 .5em 0;
}

h3 {
    color: #2c364a;
    font-size: 4em;
    font-family: 'Muli', sans-serif;
}

h4 {
    text-align: center;
    font-size: 2em;
    line-height: 1em;
    padding: 0;
    margin: 0;
}   

html {
    min-width: 200px;
    scroll-behavior: smooth;
}

p {
    font-size: 22px;
}

.absolute {
    position: absolute;
}

.absolute-right {
    position: absolute;
    top: -.8em;
    right: .1em;
}

.bar-container {
    display: inline-block;
    cursor: pointer;
    margin: 10px;
    z-index: 2;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.bio {
    height: 110vh;
    width: 100vw;
    padding: 2em;
    margin: 1em 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box {
    height: 100vh;
    width: 50vw;
    left: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.button-div {
    background: #fff;
    color: #2A1D5B;
    padding: .75em;
    font-size: 16px;
    font-weight: bold;
    border: #2A1D5B solid 2px;
    border-radius: 10%;
    display: inline-block;
    margin: 1em;
}

.chivolo .overlay, 
.wearing .overlay {
    position: fixed;
    bottom: 0;
    height: 0;
    width: 100vw;
    overflow-y: hidden;
    opacity: 0;
    transition: .5s ease;
    padding: 1em;
    justify-content: space-between;
}

.chivolo .blob {
    margin: 20em 0 0;
    border-radius: 79% 60% 89% 54% / 47% 48% 75% 62%;
    padding: 1em 0 4em;
}

.chivolo .overlay-on {
    background: #218380;
}

.chivolo .overlay-on, .wearing .overlay-on {
    height: 100vh;
    opacity: 1;
}

.chivolo .project-pic {
    border: #2A1D5B solid 2px;
    border-radius: 2%;
    width: 40%;
    top: 17em;
    right: 7em;
}

.chivolo .overlay .bar-container, .wearing .overlay .bar-container {
    top: 0;
    left: 0;
}

.chivolo .overlay-on, .wearing .overlay-on {
    z-index: 1;
}

.chivolo-subtitle {
    text-align: center;
    width: 90%;
    padding: 1em 1em 1em;
    margin: auto;
}

.chivolo-title {
    padding: 2em 0 0;
    margin: 0;
}

.color-blue {
    background-color: #6DDEED;
}

.color-pink {
    background-color: #D81159;
}

.color-purple {
    background-color: #2A1D5B;
}

.color-transparent-blue {
    background-color: #6ddeed9e;
} 

.color-turquoise {
    background-color: #218380;
}

.color-yellow {
    background-color: #FBB13C;
}

.contact-section {
    width: 100vw;
    margin: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: auto;
}

.contact-title {
    font-size: 3em;
    padding: .8em 0 .8em;
}

.cross .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.cross .bar2 {
    opacity: 0;
}

.cross .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.about-georgia {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 22em;
    position: relative;
}

.about-georgia p {
    font-size: 16px;
    margin: 0;
}

.contact > ul {
    margin-left: 3em;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact > ul > li {
    list-style: none;
    display: inline-block;
    font-size: 24px;
    color: white;
}

.desktop {
    display: none;
}

.email {
    width: 100vw;
    color: #D81159;    
    font-size: 3.5em;
    text-decoration: none;
    word-break: break-all;
    padding: 0 .5em .5em;
    margin: 0;
}

.font-purple {
    color: #2A1D5B
}

.font-turquoise {
    color: #218380;
}

.georgia-pic {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 50vw;
    background-color: #e7e8ed;
    z-index: 1;
}

.grid-item-bg {
    background-image: url("images/Georgia_IMG_4055_cropped.jpg");
    background-color: darkgrey;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  right;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero {
    height: 100vh;
    width: 100vw;
    color: white;
    padding: 0em;
    margin: 0;
}

.hundred {
    height: 100vh;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
}

.menu .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
    justify-content: center;
}

.menu .overlay-on {
    width: 100%;
}

.menu-item { 
    display: block;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
    padding: .25em;
    font-size: 3em;
    color: #fff;
    text-decoration: none;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

.overlay-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.overlay p {
    font-size: 16px;
    margin: 0;
}

.overlay .wearing-title, .overlay .chivolo-title {
    padding: 0;
    margin: 0;
}

.project {
    background: #fff;
}

.project-button {
    background-color: white;
    width: 175px;
    text-align: center;
    padding: 1em .5em;
    font-size: 22px;
    margin: 1em 0em 1em 0em;
}

.read-more {
    display: block;
    margin: auto;
}

.recent-title {
    font-size: 5em;
    padding: 0;
}

.relative {
    position: relative;
}

.scroll {
    width: 35px;
    bottom: 10px;
    left: 48vw;
    margin: auto;
}

.social,
.technology {
    font-family: 'Archivo Black', sans-serif;
    font-size: 18px;
    padding: 0 10px 0;
}

.social {
    color: #fff;
    font-size: 16px;
    line-height: 2em;
    text-decoration: none;
}

.socials {
    background-color: #D81159;
    text-align: center;
    padding: 3em;
}

.technologies {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wearing .overlay-on {
    background: #FBB13C
}

.web {
    top: -1.2em;
    left: 0.2em;
    color: #2A1D5B;
}

.web-rectangle {
    left: 1em;
    height: 70em;
    width: 9em;
    border: #2A1D5B solid 5px;
    border-radius: 10% 10% 10% 63% / 10% 10% 10% 24%   ;
    background-color: #2A1D5B;
}

.wearing .project-pic {
    border: #2A1D5B solid 2px;
    border-radius: 2% ;
    width: 40%;
    top: 17em;
    left: 7em;
}

.wearing .blob {
    border-radius: 79% 35% 54% 58% / 40% 18% 24% 62% ;
    padding: 1em 0 4em;
    margin: 3em 0;
}

.wearing-subtitle {
    text-align: center;
    width: 90%;
    padding: 1em;
    margin: auto;
}

.wearing-title {
    padding: 2em 1em 0;
    margin: 0;
}

.web-section {
    display: flex;
    flex-direction: column;
    padding: 3.5em 0 0;
}

@media screen and (min-height: 400px) {
    header {
        padding: 10vh 0 10vh;
    }

    .about-georgia {
        margin-top: 27em;
    }
}

@media screen and (min-height: 500px) {
    h1 {
        padding: 1em 0;
    }

    h2 {
        font-size: 2em;
    }

    h4 {
        line-height: 1.5em;
        padding: 1em 0em 1em;
    }

    .bio {
        height: 100vh;
    }

    .bio-title {
        padding: 0;
        margin: 0;
    }

    .box {
        height: 30%;
        width: 100vw;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: initial;
        padding: 0;
    }

    .chivolo .overlay, 
    .wearing .overlay {
        padding: 3em 1em 2em;
    }

    .chivolo .project-pic {
        width: 60%;
        top: 22em;
        right: 2em;
    }

    .email {
        font-size: 2em;
    }

    .georgia-pic {
        height: 80vh;
        width: 100vw;
    }


    .overlay-buttons {
        flex-direction: column;
    }

    .recent-title {
        padding: .8em 0 .8em;
    }

    .scroll {
        bottom: 20px;
        left: 45vw;
    }

    .wearing .project-pic {
        width: 60%;
        top: 23em;
        left: 2em;
    }

    .web-rectangle {
        height: 90em;
    }
}

@media screen and (min-width: 400px) {
    .wearing .project-pic {
        top: 21em;
    }    
}

@media screen and (min-width: 600px) {
    header {
        padding: 15vh 0 15vh;
    }
    
    .about-georgia {
        margin-top: 22em;
    }

    .about-georgia p {
        font-size: 20px;
    }

    .bar-container {
        margin: 20px;
    }

    .button-div {
        margin: 2em;
    }

    .chivolo .blob {
        margin: 21em 30vw 3em 0;
    }

    .chivolo .project-pic {
        width: 35%;
        top: 18em;
        right: 16em;
    }

    .contact-title {
        font-size: 5em;
        padding: .5em;
    }

    .email {
        font-size: 4.3em;
    }

    .margin-top {
        margin-top: 22em;
    }

    .recent-title {
        padding: .5em;
    }

    .social {
        font-size: 22px;
    }

    .wearing .blob {
        margin: 3em 0 3em 30vw;
    }

    .wearing .project-pic {
        top: 18em;
        left: 22em;
        width: 35%;
    }

    .web {
        left: 19vw;
        top: -1.4em;
        font-size: 5em;
    }

    .web-rectangle {
        left: 10vw;
        height: 80em;
        width: 60vw;
        border-radius: 25% 57% 64% 49% / 53% 64% 40% 39% ;
    }
}

@media screen and (min-width: 700px) {
    .about-georgia {
        margin-top: 25em;
    }
}

@media screen and (min-width: 800px) {
    .about-georgia {
        margin-top: 28em;
    }

    .chivolo .blob {
        margin: 25em 30vw 3em 0;
    }

    .email {
        font-size: 4.8em;
    }
}

@media screen and (min-height: 600px) {
    .bio {
        padding: 4em 2em 4em 2em;
    }

    .chivolo .project-pic {
        width: 60%;
        top: 20em;
        right: 2em;
    }

    .email {
        font-size: 2.4em;
    }    
}

@media screen and (min-height: 700px) {
    .about-georgia p {
        font-size: 20px;    
    }

    .email {
        font-size: 2.7em;
    }    
}

@media screen and (min-height: 800px) {
    .about-georgia p {
        font-size: 20px;
    }

    .chivolo .project-pic {
        top: 20em;
    }

    .email {
        font-size: 2.4em;
    }   
    
    .menu-item {
        font-size: 5em;
    }
}

@media screen and (min-width: 1000px) and (min-height: 700px) {
    h1 {
        font-size: 8em;
        padding: .3em;
    }
    
    header {
        padding: 8em 0;
    }

    .about-georgia {
        margin-top: 15em;
    }

    .about-georgia p {
        font-size: 30px;
    }

    .bio {
        padding: 6em 3em 6em;
    }

    .box {
        height: 80vh;
        width: 50vw;
        left: 50vw;
        padding: 1em;
    }
    

    .button-div {
        margin: 7em;
        font-size: 22px;
        margin: 1em;
    }

    .chivolo .blob {
        margin: 0 30vw 3em 0;
    }

    .chivolo .overlay,
    .wearing .overlay {
        padding: 6em 3em 6em;
    }

    .chivolo .project-pic {
        width: 25%;
        top: -2em;
        right: 5em;
    }
    
    .contact-title {
        font-size: 6em;
    }

    .email {
        font-size: 6em;
    }

    .georgia-pic {
        width: 50vw;
    }

    .grid-item-bg {
        background-position: top;
    }

    .overlay-buttons {
        flex-direction: row;
    }

    .overlay p {
        font-size: 30px;
    }

    .scroll {
        left: 49vw;
        bottom: 30px;
    }

    .social {
        font-size: 30px;
    }

    .social, .technology {
        font-size: 30px;
    }

    .wearing .project-pic {
        top: 1em;
        left: 4em;
        width: 25%;
    }

    .web {
        left: 1em;
        font-size: 5em;
    }

    .web-rectangle {
        top: 4.5em;
        left: 5em;
        height: 70em;
        width: 11em;
    }

    .web {
        left: 24vw;
        top: -1.2em;
        font-size: 5em;
    }

    .web-rectangle {
        left: 10vw;
        height: 60em;
        width: 60vw;
        border-radius: 25% 57% 64% 49% / 53% 64% 40% 39% ;
    }
}     

@media screen and (min-width: 700px) and (min-height: 1000px) {
    button {
        font-size: 1.2em;
    }
    
    h1 {
        font-size: 8em;
        padding: .5em;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 5em;
    }    

    h4 {
        font-size: 2.5em;
        line-height: 1.5em;
    }

    header {
        padding: 10em 0;
    }
    
    p {
        font-size: 30px;
    }

    .about-georgia {
        margin-top: 15em;
    }

    .about-georgia p {
        font-size: 30px;
    }

    .bio {
        height: 90vh;
        padding: 6em 3em 6em;
    }

    .button-div {
        font-size: 1.2em;
    }

    .chivolo .blob {
        margin: 0 30vw 3em 0;
    }

    .chivolo .overlay,
    .wearing .overlay {
        padding: 6em 3em 6em;
    }

    .chivolo .project-pic {
        width: 30%;
        top: 1em;
        right: 1em;
    }    

    .contact-title {
        font-size: 5em;
        padding: .8em 0 .8em;
    }

    .email {
        font-size: 5em;
        padding: 0 .5em 1em;
    }

    .hero {
        height: 100vh;
        width: 100vw;
    }

    .menu-item {
        font-size: 5em;
    }

    .overlay p {
        font-size: 30px;
    }

    .scroll {
        left: 49vw;
        bottom: 30px;
    }

    .social {
        font-size: 22px;
    }

    .social, .technology {
        font-size: 30px;
    }
 
    .socials {
        padding: 2em 1em 4em;
    }

    .wearing .project-pic {
        top: 1em;
        left: 1em;
        width: 30%;
    }        

    .web-rectangle {
        left: 10vw;
        height: 70em;
    }

    .fab {
        padding: 1em;
    }
}

@media screen and (min-width: 1000px) and (min-height: 1300px) {
    .bio {
        padding: 13em 5em 13em;
    }
    
    .chivolo .overlay, .wearing .overlay {
        padding: 15em 5em 15em 5em;
    }

    .contact-title {
        font-size: 6em;
    }    

    .email {
        font-size: 6em;
    }    
}

@media screen and (min-width: 1300px) {
    header {
        padding: 10em 0;
    }

    h4 {
        font-size: 3em;
    }

    p {
        font-size: 30px;
    }

    .about-georgia {
        margin-top: 5em;
    }
    
    .blob {
        width: 50vw;
    }

    .chivolo .blob {
        margin: 10em 10vw 10em;
        padding: 5em;
        border-radius: 67% 57% 41% 89% / 45% 86% 54% 85% ;
    }

    .chivolo .project-pic {
        right: initial;
        left: 50em;
        top: -7em;
        width: 25%;
    }

    .chivolo-title, .wearing-title {
        padding: 1em 0 0;
    }

    .contact-title {
        font-size: 8em;
    }

    .email {
        font-size: 8em;
    }

    .recent-title {
        font-size: 6em;
    }

    .scroll {
        bottom: 30px;
    }

    .wearing .blob {
        margin: 3em 0 3em 40vw;
        padding: 5em;
        border-radius: 67% 57% 64% 49% / 53% 73% 54% 69%;
    }

    .wearing .project-pic {
        left: 10em;
        width: 25%;
    }

    .web {
        top: -1.4em;
        font-size: 6em;
    }

    .web-rectangle {
        height: 65em;
    }
}