
* {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    color: #170b01;
}

body {
    position: relative;
    margin: 0px;
}

button, input[type="text"], input[type="email"], textarea {    
    font-weight: bold;
    font-size: 1em;
    padding: 2vh 0;
    border-radius: 10px;
}

button {
    background: #f5dfd2;
    height: 8vh;
    width: 35vw;
    border: 1px solid #a8642d2e;
    box-shadow: 4px 4px 1px 1px #a8642dbb;
}

button:hover {
    background-color: #f5dfd2a8;
    border-color: #f5dfd2a8;
}

button:active {
    background-color: #f5dfd267;
    border-color: #f5dfd267;
    box-shadow: 1px 1px 1px 1px #a8642dbb;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #fff;
    background-color: #a8642df1;
    padding: 5vh 5vw 5vh;
}

footer i {
    padding: 5vw;
    color: #fff;
}

form li {
    margin: 2vh 0;
}

h1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 4em;
    color: #986133;
    padding: 10vh 5vw 10vh;
}

h3 {
    font-family: 'Muli', sans-serif;
}

h4 {
    line-height: 1em;
    padding: 0;
    margin: 0;
}   

html {
    min-width: 200px;
    scroll-behavior: smooth;
}

input, textarea {
    background: #bf6d3214;
    border: 1px solid #a8642dbb;
}

input[type="text"], input[type="email"], textarea {
    padding-left: 2vh;
    padding-right: 2vh;
    margin: 1vh 0;
    width: 100%;
}

input:checked ~ .checkybox:after {
    display: block;
}

main {
    background: #fff;
    padding: 5vh 5vw;
}

nav {
    position: fixed;
    top: 0;
    z-index: 1;
}

textarea[id="subj"] {
    height: 8vh;
}

textarea[id="msg"] {
    height: 16vh;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

.absolute {
    position: absolute;
}

.bar-container {
    /* width: 100%; */
    position: fixed;
    z-index: 2;
    padding: 5vw;
    /* border-bottom-right-radius: 20px; */
}

.bar-container div {
    width: 40px;
    height: 7px;
    margin: 6px 0;
    border-radius: 2px;
    transition: 0.4s;
    /* z-index: 2; */
}

.bar1 {
    background-color: #986133;
}

.bar2 {
    background-color: #a8642dbb;
}

.bar3 {
    background-color: #f5dfd2;
}

.button-div {
    background: #fff;
    color: #2A1D5B;
    padding: .75em;
    font-size: 16px;
    font-weight: bold;
    border: #2A1D5B solid 2px;
    border-radius: 10px;
    display: inline-block;
    margin: 1em;
}

.checkybox {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: #bf6d3214;
    border: 1px solid #a8642dbb;
    border-radius: 5px;
}

.checkybox:after {
    content: "";
    position: absolute;
    display: none;
}

.copy {
    display: block;
    position: relative;
    margin: 2vh 0 3vh;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.copy .checkybox:after {
    left: 8px;
    bottom: 5px;
    width: 5px;
    height: 12px;
    border: solid #a8642dbb;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.copy input:checked ~ .checkybox:after {
    display: block;
}

.copy input {
    opacity: 0;
    height: 0;
    width: 0;
}

.cluster {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2vh 0;
    margin: 1vh 0;
}

.cluster li {
    font-family: 'Archivo Black', sans-serif;
    padding: 10px;
}

.contact > input {
    width: 100%;
}

.cross .bar1 {
    transform: translate(0, 13px) rotate(-45deg);
    background-color: #f5dfd2;
}

.cross .bar2 {
    opacity: 0;
}

.cross .bar3 {
    transform: translate(0, -13px) rotate(45deg) 
}

.desktop {
    display: none;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #a8642df1;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
    padding: 15vh 0;
}

.overlay a { 
    display: block;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    padding: 3vh;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
}

.overlay-on {
    height: 100vh;
    width: 100vw;
    opacity: 1;
}

.projects li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects > li {
    background-color: #bf6d3214;
    padding: 5vh;
    margin-bottom: 5vh;
    border-radius: 20px;
}

.projects img {
    width: 100%;
    height: 50vh;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
    margin: 3vh auto 3vh;
}

.relative {
    position: relative;
}